/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 160px);
  overflow: hidden;
}



/* ================= HOME PAGE ONLY ================= */

.home-page header {
  background: #e63946;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.home-page header h1 {
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.home-page .video-background {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 160px);
  overflow: hidden;
}

.home-page #bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.78vh;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

/* Wide screens */
@media (min-aspect-ratio: 16/9) {
  .home-page #bgvid {
    width: 100vw;
    height: 56.25vw;
  }
}


.home-page .hero {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}






@media (max-width: 768px) {
  .caption h1 {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .col-md-8 h1 {
    font-size: 2.4rem;
  }
}
