/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.float-right{
  position:absolute;
}

@media (max-width: 768px) {
  .caption h1 {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .col-md-8 h1 {
    font-size: 2.4rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
